<!doctype html>
<html lang="en-US">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<title>{{ .Title }} | Oka bRionZ</title>
		<meta name="description" content="{{ .Description }}">
		<link rel="stylesheet" href="/css/main.css"/>

		<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">

		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch.png">
		<link rel="icon" type="image/png" href="/brionz icon.png">
		<meta name="theme-color" content="#fff">

		<!-- Open Graph -->
		<meta property="og:type" content="business.business">
		<meta property="og:title" content="Oka bRionZ - Newbie Web Developer and Domain Investor">
		<meta property="og:url" content="/">
		<meta property="og:image" content="/opengraph.png">

	</head>

	<body class="sans-serif">
