{{ partial "head" . }} {{ partial "nav" . }} {{ partial "jumbotron" (dict "imageUrl" "{{ if .Params.image }}<img src="{{ .Params.image }}"
    alt="{{ .Title }}" />{{ end }} {{ .Content }}" "title" "{{.Title}}" "subtitle" "{{ .Description }}") }}

<div class="mw6 center ph3 pv4">
    <div class="flex justify-between grey-3">
        <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
        <p>Read in {{ .ReadingTime }} minutes</p>
    </div>
    <div class="cms mw6">
        {{ .Content }}
    </div>
</div>
{{ partial "footer" . }}