{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/bgury.svg" "title" "Share and Learning in one Place." "subtitle" "Thanks for spending time to visit My site.") }}

{{ partial "short-text" (dict "heading" "Ready to Learn?" "text" "Let's learn anything here in one place and together with me.")}}

{{ partial "2-up" (dict "heading" "Or You Want to Share Something?" "description" "Not only learning, but we must share something to the World." "svg2" "/img/illustrations/coffee-gear.svg" "text2" "We offer a small, but carefully curated selection of brewing gear and tools for every taste and experience level. No matter if you roast your own beans or just bought your first french press, you’ll find a gadget to fall in love with in our shop." "buttonText" "See all products" "buttonLink" "/products"  ) }}

{{ partial "text-and-image" (dict "heading" "Our values" "text" "Coffee is an amazing part of human culture but it has a dark side too – one of colonialism and mindless abuse of natural resources and human lives. We want to turn this around and return the coffee trade to the drink’s exhilarating, empowering and unifying nature." "buttonText" "Read more" "buttonLink" "/about") }}

{{ partial "blog" . }}

{{ partial "footer" . }}
